/******************************** Noto , korea **************************/
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 100;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/NotoSansKR/NotoSansKR-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/NotoSansKR/NotoSansKR-Light.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/NotoSansKR/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/NotoSansKR/NotoSansKR-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-style: normal;
  src:url("https://image.smartscore.kr/fonts/NotoSansKR/NotoSansKR-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 900;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/NotoSansKR/NotoSansKR-Black.otf") format("opentype");
}

/******************************** Noto , JP **************************/
@font-face {
  font-family: "Noto Sans JP";
  font-weight: 100;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/NotoSansJP/NotoSansJP-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans JP";
  font-weight: 300;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/NotoSansJP/NotoSansJP-Light.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans JP";
  font-weight: 400;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/NotoSansJP/NotoSansJP-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans JP";
  font-weight: 500;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/NotoSansJP/NotoSansJP-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans JP";
  font-weight: 700;
  font-style: normal;
  src:url("https://image.smartscore.kr/fonts/NotoSansJP/NotoSansJP-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans JP";
  font-weight: 900;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/NotoSansJP/NotoSansJP-Black.otf") format("opentype");
}


/******************************** Noto , SC **************************/
@font-face {
  font-family: "Noto Sans SC";
  font-weight: 100;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/NotoSansSC/NotoSansSC-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans SC";
  font-weight: 300;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/NotoSansSC/NotoSansSC-Light.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans SC";
  font-weight: 400;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/NotoSansSC/NotoSansSC-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans SC";
  font-weight: 500;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/NotoSansSC/NotoSansSC-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans SC";
  font-weight: 700;
  font-style: normal;
  src:url("https://image.smartscore.kr/fonts/NotoSansSC/NotoSansSC-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans SC";
  font-weight: 900;
  font-style: normal;
  src: url("https://image.smartscore.kr/fonts/NotoSansSC/NotoSansSC-Black.otf") format("opentype");
}

/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url('https://image.smartscore.kr/fonts/NotoSansTC/NotoSansTC-Thin.otf') format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url('https://image.smartscore.kr/fonts/NotoSansTC/NotoSansTC-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url('https://image.smartscore.kr/fonts/NotoSansTC/NotoSansTC-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: url('https://image.smartscore.kr/fonts/NotoSansTC/NotoSansTC-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url('https://image.smartscore.kr/fonts/NotoSansTC/NotoSansTC-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  src: url('https://image.smartscore.kr/fonts/NotoSansTC/NotoSansTC-Black.otf') format('opentype');
}


/******************************** thai **************************/

@font-face {
  font-family: "Noto Sans THI";
  src: url("https://image.smartscore.kr/fonts/NotoSansThai/notosansthai-thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans THI";
  src: url("https://image.smartscore.kr/fonts/NotoSansThai/notosansthai-extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans THI";
  src: url("https://image.smartscore.kr/fonts/NotoSansThai/notosansthai-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans THI";
  src: url("https://image.smartscore.kr/fonts/NotoSansThai/notosansthai-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans THI";
  src: url("https://image.smartscore.kr/fonts/NotoSansThai/notosansthai-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans THI";
  src: url("https://image.smartscore.kr/fonts/NotoSansThai/notosansthai-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans THI";
  src: url("https://image.smartscore.kr/fonts/NotoSansThai/notosansthai-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans THI";
  src: url("https://image.smartscore.kr/fonts/NotoSansThai/notosansthai-extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans THI";
  src: url("https://image.smartscore.kr/fonts/NotoSansThai/notosansthai-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/******************************** Roboto**************************/
@font-face {
  font-family: 'Roboto';
  src: url('https://image.smartscore.kr/fonts/Roboto/Roboto-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://image.smartscore.kr/fonts/Roboto/Roboto-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  //src: local('Roboto Regular'), local('Roboto-Regular'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/Xyjz-jNkfiYuJf8UC3Lizw.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('https://image.smartscore.kr/fonts/Roboto/Roboto-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://image.smartscore.kr/fonts/Roboto/Roboto-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

/* 나라별 언어 설정 */
body{
  font-family: 'Noto Sans KR', 'sans-serif', '-apple-system', 'BlinkMacSystemFont';
  font-weight: 400;
  *{
    font-family: inherit;
    font-weight: inherit;
  }
  &.en{
    font-family: 'Roboto', 'Noto Sans KR', 'sans-serif', '-apple-system', 'BlinkMacSystemFont';
    font-weight: 400;
    *{
      font-family: inherit;
      font-weight: inherit;
    }
  }
  &.jp{
    font-family: 'Noto Sans JP', 'sans-serif', '-apple-system', 'BlinkMacSystemFont';
    font-weight: 400;
    *{
      font-family: inherit;
      font-weight: inherit;
    }
  }
  &.sc{
    font-family: 'Noto Sans SC', 'sans-serif', '-apple-system', 'BlinkMacSystemFont';
    font-weight: 400;
    *{
      font-family: inherit;
      font-weight: inherit;
    }
  }
  &.tc{
    font-family: 'Noto Sans TC', 'sans-serif', '-apple-system', 'BlinkMacSystemFont';
    font-weight: 400;
    *{
      font-family: inherit;
      font-weight: inherit;
    }
  }
  &.thi{
    font-family: 'Noto Sans THI', 'sans-serif', '-apple-system', 'BlinkMacSystemFont';
    font-weight: 400;
    *{
      font-family: inherit;
      font-weight: inherit;
    }
  }
}

/* 특정 폰트 언어 설정  */
.ff-kr{
  font-family: 'Noto Sans KR', 'sans-serif', '-apple-system', 'BlinkMacSystemFont' $imt;
  font-weight: 400;
  *{
    font-family: inherit;
    font-weight: inherit;
  }
}
.ff-en{
  font-family: 'Roboto', 'Noto Sans KR', 'sans-serif', '-apple-system', 'BlinkMacSystemFont' $imt;
  font-weight: 400;
  *{
    font-family: inherit;
    font-weight: inherit;
  }
}
.ff-jp{
  font-family: 'Noto Sans JP', 'sans-serif', '-apple-system', 'BlinkMacSystemFont' $imt;
  font-weight: 400;
  *{
    font-family: inherit;
    font-weight: inherit;
  }
}
.ff-sc{
  font-family: 'Noto Sans SC', 'sans-serif', '-apple-system', 'BlinkMacSystemFont' $imt;
  font-weight: 400;
  *{
    font-family: inherit;
    font-weight: inherit;
  }
}
.ff-tc{
  font-family: 'Noto Sans TC', 'sans-serif', '-apple-system', 'BlinkMacSystemFont' $imt;
  font-weight: 400;
  *{
    font-family: inherit;
    font-weight: inherit;
  }
}
.ff-thi{
  font-family: 'Noto Sans THI', 'sans-serif', '-apple-system', 'BlinkMacSystemFont' $imt;
  font-weight: 400;
  *{
    font-family: inherit;
    font-weight: inherit;
  }
}






